<div class="row">
    <div class="col-12">
        <h2 class="my-5">Nos coktails :</h2>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">Coktail n°1</li>
    <li class="list-group-item">Coktail n°2</li>
    <li class="list-group-item">Coktail n°3</li>
    <li class="list-group-item">Coktail n°4</li>
    <li class="list-group-item">Coktail n°5</li>
    <li class="list-group-item">Coktail n°6</li>
    <li class="list-group-item">Coktail n°7</li>
    <li class="list-group-item">Coktail n°8</li>
    <li class="list-group-item">Coktail n°9</li>
</ul>