:host {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

/* 
     * ---------------------------------------------------------------------------------
     * BALISE AUTO FERMANTE
     * ---------------------------------------------------------------------------------
     */

hr {
  margin: 20px auto;
  width: 50%;
  border-top: 1px solid white;
}

/* 
     * ---------------------------------------------------------------------------------
     * LINK
     * ---------------------------------------------------------------------------------
     */

a,
a:visited,
a:hover {
  text-decoration: none;
}

/* 
     * ---------------------------------------------------------------------------------
     * FOOTER 
     * ---------------------------------------------------------------------------------
     */

.footer {
  min-height: 80px;
}
