<nav class="navbar navbar-expend-lg navbar-dark bg-dark mb-0">
  <div class="navbar-brand">
    <small><span class="text-secondary">J'apprends <span class="text-info">Angular</span></span> sur <span
        class="text-warning">Dyma.fr</span></small>
  </div>
  <span class="navbar-text">
    <small>
      <span class="text-white">Chapitre {{ chapter }} - Leçon n° {{ lesson }}</span> -
      <span class="text-warning">{{ title }}</span>
    </small>
  </span>
</nav>

<div class="container-fluid text-center py-5 bg-danger">
  <img width="200" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

  <h1 class="text-center display-4"><span class="text-warning">{{ title }}</span></h1>
  <hr />
  <p class="lead text-white">Découverte du framework ANGULAR grâce à la plateforme de Dyma.FR</p>
</div>

<div class="container my-5">
  <h2>Affiché le contenu situé entre nos sélecteurs créer précédemment.</h2>
</div>

<footer class="footer bg-dark mt-5 text-white">
  <div class="container">
    <div class="d-flex justify-content-center py-5">
      &copy; Copyright - 2019-2020 - Dyma Tous droits réservé. <span class="ml-auto">Codé by Alain Guillon</span>
    </div>
  </div>
</footer>