<nav class="navbar navbar-expend-lg navbar-dark bg-dark mb-0">
  <div class="navbar-brand">
    <small><span class="text-secondary">J'apprends <span class="text-info">Angular</span></span> sur <span
        class="text-warning">Dyma.fr</span></small>
  </div>
  <span class="navbar-text">
    <small>
      <span class="text-white">Chapitre {{ chapter }} - Leçon n° {{ lesson }}</span> -
      <span class="text-warning">{{ title }}</span>
    </small>
  </span>
</nav>

<div class="container-fluid text-center py-5 bg-danger">
  <img width="200" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

  <h1 class="text-center display-4"><span class="text-warning">{{ title }}</span></h1>
  <hr />
  <p class="lead text-white">Découverte du framework ANGULAR grâce à la plateforme de Dyma.FR</p>
</div>

<div class="container my-5">
  <h2>Conception d'une directive à la main</h2>
  <hr />

  <h3>1 - Code du fichier : ./shared/directives/color.directive.ts</h3>
  <div class="terminal mt-4">
    <pre><code>
      import &#123; Directive, OnInit, ElementRef, Renderer2 &#125; from '@angular/core';

      @Directive(&#123;
        selector: 'colorDirective'
      &#125;)

      export class ColorDirective implements OnInit &#123;

        constructor(private el: ElementRef, private renderer: Renderer2) &#123; &#125;

        ngOnInit() &#123;
          this.renderer.setStyle(
            this.el.nativeElement,
            "color",
            "salmon"
          )
        &#125;

      &#125;</code>
    </pre>
  </div>
  
  <h3 class="my-4">2 - Code importer dans mon fichier app.module.ts</h3>
  <div class="terminal">
    <pre>
      import &#123; BrowserModule &#125; from '@angular/platform-browser';
      import &#123; NgModule &#125; from '@angular/core';

      import &#123; AppComponent &#125; from './app.component';
      <code>import &#123; ColorDirective &#125; from './shared/directives/color.directive';</code>

      @NgModule(&#123;
        declarations: [
          AppComponent,
          <code>ColorDirective</code>
        ],
        imports: [
          BrowserModule
        ],
        providers: [],
        bootstrap: [AppComponent]
      })
      export class AppModule &#123; &#125;
    </pre>
  </div>

  <h3 class="my-4">3 - Code html du fichier app.component.html</h3>
  <p class="lead">J'ai ajouter comme attribut ce que j'ai déclarer dans le selector de ma directive. soit : <strong>colorDirective</strong></p>
  <div class="terminal">
    <pre>
      &lt;ul>
        &lt;li&gt;Je suis un élément de la liste&lt;/li&gt;
        &lt;li <code>colorDirective</code>>Je suis un élément de la liste&lt;/li&gt;
        &lt;li&gt;Je suis un élément de la liste&lt;/li&gt;
        &lt;li <code>colorDirective</code>>Je suis un élément de la liste&lt;/li&gt;
        &lt;li&gt;Je suis un élément de la liste&lt;/li&gt;
        &lt;li&gt;Je suis un élément de la liste&lt;/li&gt;
        &lt;li <code>colorDirective</code>&gt;Je suis un élément de la liste&lt;/li&gt;
      &lt;/ul&gt;
    </pre>
  </div>

  <h3 class="my-4">4 - Voici le rendu visuel à l'écran</h3>
  <ul>
    <li>Je suis un élément de la liste</li>
    <li colorDirective>Je suis un élément de la liste</li>
    <li>Je suis un élément de la liste</li>
    <li colorDirective>Je suis un élément de la liste</li>
    <li>Je suis un élément de la liste</li>
    <li>Je suis un élément de la liste</li>
    <li colorDirective>Je suis un élément de la liste</li>
  </ul>
</div>



<footer class="footer bg-dark mt-5 text-white">
  <div class="container">
    <div class="d-flex justify-content-center py-5">
      &copy; Copyright - 2019-2020 - Dyma Tous droits réservé. <span class="ml-auto">Codé by Alain Guillon</span>
    </div>
  </div>
</footer>