<h1>Classe : <mark>AppComponent</mark> du fichier <mark>app.component.ts</mark></h1>
<hr />
<p>
  Je suis le contenu généré grâce au fichier : <mark>app.component.html</mark> qui sera affiché dans le tag <mark>app-root</mark>.
</p>

<!-- Contenu ci-dessous généré grâce au fichier new-cli/new-cli.component.html -->
<app-new-cli></app-new-cli>

<!-- Contenu ci-dessous généré grâce au fichier new-by-hand/new-by-hand.component.html -->
<app-new-by-hand></app-new-by-hand>

<!-- Contenu ci-dessous généré grâce au fichier dyma-premier-component/dyma-premier-component.component.html -->
<app-dyma-premier-component></app-dyma-premier-component>