<!-- HEADER -->
<app-header></app-header>

<div class="container">
  <div class="row">

    <div class="col-5">

      <!-- COKTAILS-LIST -->
      <app-cocktails-list></app-cocktails-list>

    </div><!-- /.col-5 -->

    <div class="col-7">

      <!-- COKTAILS-DETAILS -->
      <app-cocktails-details></app-cocktails-details>

    </div><!-- /.col-7 -->

  </div><!-- /.row -->
</div><!-- /.container -->

<!-- FOOTER -->
<footer class="bg-dark text-white py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h5 class="text-center">Lien utile</h5>
        <hr />
        <ul>
          <li>Dyma.fr</li>
          <li>Udemy</li>
          <li>Youtube.com</li>
        </ul>
      </div>
      <div class="col-6">
        <h5 class="text-center">Menu</h5>
        <hr />
        <ul>
          <li>Recettes</li>
          <li>A propos</li>
          <li>Contactez-nous</li>
        </ul>
      </div>
    </div>
  </div>
</footer>