<div class="container p-2">
  <h1 class="text-center my-5">@Input() & @Outpout()</h1>
  <hr />
  <div class="input-group my-5">
    <input 
      type="text"
      class="form-control"
      [(ngModel)]="newName"
    />
    <div class="input-group-prepend">
      <button class="btn btn-secondary"
        (click)="tabName.push(newName)"
      >Ajouter</button>
    </div>
  </div>
  <ul class="list-group">
    <app-item-child
      *ngFor="let i of tabName"
      [name]="i"
      (deleteName)="deleteThisName($event)"
    ></app-item-child>
  </ul>
</div>