<h1>Décoration @Input</h1>
<fieldset>
  <legend>Ajout d'un fruit</legend>
  <label for="nomFruit">Nom du fruit :</label>&nbsp;
  <input type="text" id="nomFruit" [(ngModel)]="nomDuFruitSurLeParent" />&nbsp;
  <button type="button" (click)="listeDesFruitsSurLeParent.push(nomDuFruitSurLeParent)">Ajouter ce fruit</button>
  <ol>
    <li>J'ai créer un tableau d'Attributs qui se nomme : listeDesFruitsSurLeParent.</li>
    <li>J'utilise la fonction native pour envoyer de la data dans un tableau avec : push().</li>
    <li>J'y ajoute la propriété dynamique saisit précédemment. Ici "nomDuFruitSurLeParent"</li>
    <li>Donc une fois la saisit faite, j'ajoute dynamiquement le contenu de mon champ via le bouton.</li>
  </ol>
</fieldset>

<br />

<fieldset>
  <legend>Résultat afficher depuis le parent</legend>
  <ul>
    <li *ngFor="let resultatSurLeParent of listeDesFruitsSurLeParent">{{ resultatSurLeParent }}</li>
  </ul>
</fieldset>

<br />

<fieldset>
  <legend>Résultat afficher depuis le 1er enfant</legend>
  <ul>
    <app-first-child
      *ngFor="let resultatSurLePremierEnfant of listeDesFruitsSurLeParent"
      [jeSuisUnAliasSurLePremierEnfant]="resultatSurLePremierEnfant"
    >Chargement de app-first-child</app-first-child>
  </ul>

</fieldset>