<h3>*ngFor</h3>

<fieldset>
    <legend>La syntaxe</legend>
    <h4>Ajouter la directive d'incrémentation *ngFor sur le .html</h4>
    <hr />
    <code>*ngFor="let joueur of lyonnais"</code>

    <h4>Dans le fichier *.component.ts, définissons le tableau d'objet</h4>
    <hr>
    <code>public club_OL: objet = [];</code><strong><em>remplacer objet par les accolades</em></strong>
    
    <br />
    <br />

    Il contiendra les propriétés suivantes : 
    <ul>
        <li><strong>number</strong></li>
        <li><strong>nationality</strong></li>
        <li><strong>lastname</strong></li>
        <li><strong>firstname</strong></li>
        <li><strong>position</strong></li>
    </ul>
</fieldset>

<table>
    <caption>Olympique Lyonnais</caption>
    <thead>
        <tr>
            <th>N°</th>
            <th>Nationalité</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Poste</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of club_OL">
            <td>{{ player.number }}</td>
            <td>{{ player.nationality }}</td>
            <td>{{ player.lastname}}</td>
            <td>{{ player.firstname}}</td>
            <td>{{ player.position}}</td>
        </tr>
    </tbody>
</table>

<p></p>