<div class="row">
    <div class="col-12">
        <h2 class="text-right my-5">{{ mojito.name }}</h2>
        <hr />
    </div>
</div>

<div class="row my-5">
    <div class="col-5">
        <img class="img-fluid"
            [src]="srcImage"
            [alt]="altImage">
    </div>
    <div class="col-7 p-4">
        <h4 class="mb-3">Descriptition :</h4>
        <p class="lead">
            {{ mojito.description }}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h4 class="mb-3">Contenu du Cocktail :</h4>
        <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
        </ul>
    </div>
</div>