<!--
    |----------------------------------------------------------------------------------------
    | HEADER
    |----------------------------------------------------------------------------------------
-->
<app-header></app-header>

<!--
    |----------------------------------------------------------------------------------------
    | CONTENT
    |----------------------------------------------------------------------------------------
-->
<!-- COCKTAILS-CONTAINER -->
<app-cocktails-container></app-cocktails-container>

<!--
    |----------------------------------------------------------------------------------------
    | FOOTER
    |----------------------------------------------------------------------------------------
-->
<app-footer></app-footer>