<div class="row">
    <div class="col-12">
        <h2 class="text-right my-5">Nom du morito</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-5">
        <img class="img-fluid" src="https://www.cocktails-faciles.fr/get/img/cocktailspreview/218-virgin-mojito.jpg"
            alt="je ne sais pas encore">
    </div>
    <div class="col-7 p-5">
        <h4 class="mb-3">Descriptition :</h4>
        <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut quis doloribus incidunt iste, corrupti ea iure natus magni harum sed ut tempora, aspernatur et ad.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h4 class="mb-3">Contenu du coktail :</h4>
        <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
        </ul>
    </div>
</div>