<h2>Folder : <mark>string-interpolation</mark></h2>
<p>
    JavaScript transform our interpolation in string character.<br />
    But, an object is not valid without this key.
    <br />
    <br />
    FR : JavaScript transforme notre interpolation en une chaîne de caractère.<br />
    Mais, un object ne sera pas valide sans ça clé.
</p>

<dl>
    <dt>interpolationString: string;</dt>
    <dd>{{ interpolationString }}</dd>

    <br />

    <dt>booleanInterpolation: boolean;</dt>
    <dd>{{ booleanInterpolation }}</dd>

    <br />

    <dt>numberInterpolation: number;</dt>
    <dd>{{ numberInterpolation }}</dd>

    <br />

    <dt>objectInterpolation;</dt>
    <dd>
        objectInterpolation : {{ objectInterpolation }}<br />
        objectInterpolation.firstname : {{ objectInterpolation.firstname }}<br />
        objectInterpolation.lastname : {{ objectInterpolation.lastname }}<br />
        objectInterpolation.firstname + " " + objectInterpolation.lastname :
        {{ objectInterpolation.firstname + " " + objectInterpolation.lastname }}
    </dd>
</dl>