<!-- 
  ng generate component without-options :
  ---------------------------------------------------------------------------------
  CREATE src/app/without-options/without-options.component.html (30 bytes)
  CREATE src/app/without-options/without-options.component.spec.ts (685 bytes)
  CREATE src/app/without-options/without-options.component.ts (304 bytes)
  CREATE src/app/without-options/without-options.component.css (0 bytes)
  UPDATE src/app/app.module.ts (430 bytes)
  ---------------------------------------------------------------------------------
-->
<app-without-options></app-without-options>

<!--
  ng generate component with-flat --flat
  ---------------------------------------------------------------------------------
  CREATE src/app/with-flat.component.html (24 bytes)
  CREATE src/app/with-flat.component.spec.ts (643 bytes)
  CREATE src/app/with-flat.component.ts (280 bytes)
  CREATE src/app/with-flat.component.css (0 bytes)
  UPDATE src/app/app.module.ts (512 bytes)
  ---------------------------------------------------------------------------------
-->
<app-with-flat></app-with-flat>

<!--
  ng generate component with-inlineStyle --inlineStyle=true
  ---------------------------------------------------------------------------------
  CREATE src/app/with-inline-style/with-inline-style.component.html (32 bytes)
  CREATE src/app/with-inline-style/with-inline-style.component.spec.ts (693 bytes)
  CREATE src/app/with-inline-style/with-inline-style.component.ts (273 bytes)
  UPDATE src/app/app.module.ts (634 bytes)
  ---------------------------------------------------------------------------------
-->
<app-with-inline-style></app-with-inline-style>

<!-- 
  ng generate component with-inlineTemplate --inlineTemplate=true
  ---------------------------------------------------------------------------------
  CREATE src/app/with-inline-template/with-inline-template.component.spec.ts (714 bytes)
  CREATE src/app/with-inline-template/with-inline-template.component.ts (337 bytes)
  CREATE src/app/with-inline-template/with-inline-template.component.css (0 bytes)
  UPDATE src/app/app.module.ts (768 bytes)
  ---------------------------------------------------------------------------------
-->
<app-with-inline-template></app-with-inline-template>

<!-- 
  ng generate component with-inlineTemplate --inlineTemplate=true
  ---------------------------------------------------------------------------------
  CREATE src/app/without-test-file/without-test-file.component.html (32 bytes)
  CREATE src/app/without-test-file/without-test-file.component.ts (311 bytes)
  CREATE src/app/without-test-file/without-test-file.component.css (0 bytes)
  UPDATE src/app/app.module.ts (890 bytes)
  ---------------------------------------------------------------------------------
-->
<app-without-test-file></app-without-test-file>