<div class="row">
    <div class="col-12">
        <h2 class="mt-5 text-center">Liste des Cocktails :</h2>
        <hr />
    </div>
</div>

<ul class="list-group text-center">

    <!--
        -----------------------------------------------------------------------------------------------------------------
        [appActive]='indexEnCours === activeCocktail'
        -----------------------------------------------------------------------------------------------------------------
        Est à la fois l'attribut définti dans le selector de la directive suivante : active.directive.ts
        Mais aussi, il est binder à cette même directive via l'alias définit dans Input.
        Je lui définit ici l'index qui correspond à l'itération en cours.
        Afin que cette index soit pris en compte, je lui définis activeCocktail qui correspond à une simple variable
        accessible dans la class cocktails-list.component.ts
        -----------------------------------------------------------------------------------------------------------------
    -->
    <li class="list-group-item list-group-item-action text-right"
        *ngFor="
            let iterationEnCours of listingCocktails;
            let indexEnCours = index;
        "
        (click)="getCocktail(indexEnCours)"
        [appActive]='indexEnCours === activeCocktail'
    >
        {{ iterationEnCours.name }}
    </li>
</ul>

<button class="btn btn-outline-success btn-block mt-4">
    Ajouter un cocktail
</button>