<div class="row">
    <div class="col-12">
        <h2 class="my-5">Nos Cocktails :</h2>
    </div>
</div>

<ul class="list-group text-center">
    <li class="list-group-item">Cocktail n°1</li>
    <li class="list-group-item">Cocktail n°2</li>
    <li class="list-group-item">Cocktail n°3</li>
    <li class="list-group-item">Cocktail n°4</li>
    <li class="list-group-item">Cocktail n°5</li>
    <li class="list-group-item">Cocktail n°6</li>
    <li class="list-group-item">Cocktail n°7</li>
    <li class="list-group-item">Cocktail n°8</li>
    <li class="list-group-item">Cocktail n°9</li>
</ul>

<button class="btn btn-primary mt-4">Ajouter un cocktail</button>