<!--
    |----------------------------------------------------------------------------------------
    | FOOTER
    |----------------------------------------------------------------------------------------
-->
<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5 class="text-center">Lien utile</h5>
                <hr />
                <ul class="navbar-nav text-center">
                    <li class="nav-item"><a href="#" class="nav-link">https://dyma.fr</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">https://udemy.com</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">https://youtube.com</a></li>
                </ul>
            </div>
            <div class="col-6">
                <h5 class="text-center">Menu</h5>
                <hr />
                <ul class="navbar-nav text-center">
                    <li class="nav-item"><a href="#" class="nav-link">Recettes</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">A propos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contactez-nous</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4 mb-1">
            <div class="col-12">
                <p class="text-center">
                    <small>&copy; Copyright - 2019-2020 - <span class="text-warning">Spa codé avec amour</span></small>
                </p>
            </div>
        </div>
    </div>
</footer>